@font-face {
    font-family: Tribeca;
    src: url("./TribecaRegular.ttf");
  }

body {
    
    font-family: Tribeca;
    background-image: url("../images/JP.jpg");
}

p {
    font-size: 18px;
    line-height: 1;
    color: #b60e0c;
    text-shadow: 1px 1px #f4f0ef;
}

h1 {
    font-weight: normal;
    font-size: 24px;
   /* color: #b60e0c;*/
   color:#f4f0ef;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    text-shadow: 2px 2px #b60e0c;
}

#characterZone {
    display: inline-block;
    height: 210px;
    width: 100%;
}

#characterStats {
    display: inline-block;
    height: 150px;
    margin: 16px; 
}

#enemieZone {
    display: inline-block;
    height: 210px;
    width: 100%;
}

#defenderZone {
    display: inline-block;
    height: 210px;
    width: 100%;
}

#defenderStats {
    display: inline-block;
    height: 150px;
    margin: 16px;
}

img {
    float: left;
    height: 150px;
    width: 165px;
    margin: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: #f7f36b;

}